body {
    font-family: 'Yeseva One', cursive;
    background-color:#C3D6C9;
    color:#765F8C;



}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One";
    
}
h1 {font-size: 40pt;}

h2 {
    text-align: left;
    color: #4e725a;

}

header {
    text-align: center;

}

#hero, footer {
    color:#765F8C;
    border: 2px solid #598F6A;
    background-color:#C3D6C9;
    padding: 1px
    

}
#bio {
    text-align: left;
    font-size: 15pt;
    color: #765F8C;
}

#hero img{
    width: 200px;

}
#footer {
    text-align: left;
}

#hobbies {
text-align: left;
font-size: 15pt;
color: #765F8C;
}