body {
    font-family: 'Yeseva One', cursive;
    background-color:#C3D6C9;
    color:#765F8C;}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One";}


h1 {font-size: 40pt;}

h2 {
    margin: .1em;
    text-align: left;
    color: #4e725a;}


header {
    text-align: center;}


/* Hero Section */
    #hero, footer {
        color:#765F8C;
        border: 2px solid #598F6A;
        background-color:#C3D6C9;
        padding: 1px}
     #hero img{
            width: 200px;}


/* Bio Sectio n*/
    #bio {
    text-align: left;
    font-size: 15pt;
    color: #765F8C;}


#footer {
    text-align: left;}

/* Hobby Section */
#hobbies {
text-align: left;
font-size: 15pt;
color: #765F8C;}
section#hobbies {
display: flex; 
flex-direction: column; 
align-items: center;

}


/* Gallery Section */

#gallery {
    border: 2px solid #4e725a

}
#gallery img {
    max-width:100%;

}

#gallery figure { 
    text-align: left;

}

/* Lit */
#lit {
    font-size: 15pt;
    
    
    border: 2px solid #4e725a
    

}
#lit div {
    padding:2rem;
    

}

/* Dropcaps */ 

#lit div p:first-child:first-letter {
    color: #36774b;
    float:left;
    font-size: 2.5em;
    padding: .31em;
    line-height: .2;
    border:2px solid#946fb6
}
/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 1rem;
    }
figure img {

    width: 100%;

}
#lit div {
   max-width: 100%;
    columns: 20rem;

}
}

/* large screen size */

@media screen and (min-width: 100em) {

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;

}

figure {
    display: block;

}
}

#video {
    
    border: 2px solid #4e725a
}