body {
    font-family: 'Yeseva One', cursive;
    background-color:rgb(213, 230, 218);
    color:#6f5885;}

h1, h2, h3, h4, h5, h6 {
    font-family: "Yeseva One";}


h1 {font-size: 40pt;
padding: 1px;
margin: .25em;
}

h2 {
    margin: .1em;
    padding: 0%;
    text-align: c;
    color: #4e725a;}


header {
    text-align: center;}


/* Hero Section */
    #hero, footer {
        margin-bottom: 2rem;
        color:#765F8C;
        border: none;
        border-radius: 1em;
        background-color:#C3D6C9;
        padding: 2rem;
        padding-bottom: 1rem;
        border: 1px solid #4e725a
        
        
   
    }
        
     #hero img{
            width: 250px;}
    #hero {
        text-align: center;

    }


/* Bio Sectio n*/
    #bio {
    text-align: left;
    font-size: 15pt;
    color: #765F8C;}


#footer {
    text-align: center;
    text-size-adjust: 20px;
    padding-bottom: 8rem;
    padding-top: 2rem;
    background-color: whitesmoke;
    border: none;

}

/* Hobby Section */
#hobbies {
text-align: left;
font-size: 15pt;
color: #765F8C;}
section#hobbies {
display: flex; 
flex-direction: column; 
align-items: left;

}


/* Gallery Section */

#gallery {
    border-radius: 1em;
    background-color: #C3D6C9;
    border: 1px solid #4e725a
    

}
#gallery img {
   
    max-width:100%;
    border: 19.5px solid whitesmoke;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2)
    p
}




#gallery figure { 
    text-align: center;

}

/* Lit */
#lit {
    border-radius: 1em;
    font-size: 15pt;
    background-color:#C3D6C9;
    border: 1px solid rgb(78, 114, 90)
    

}
#lit div {
    padding:2rem;
    

}

/* Dropcaps */ 

#lit div p:first-child:first-letter {
    color: #36774b;
    float:left;
    font-size: 2.5em;
    padding: .31em;
    line-height: .2;
    border:2px solidrgb(148, 111, 182)
}
/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
figcaption {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 1rem;
    }
figure img {

    width: 100%;

}
#lit div {
   max-width: 100%;
    columns: 20rem;

}
}

/* large screen size */

@media screen and (min-width: 100em) {

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
hr {
    display: none;
}

#gallery h2 {
    grid-column: 1/-1;

}

figure {
    display: block;

}
}

#video {
    
    border-radius: 1em;
    text-align: center;
    border: 1px solid #4e725a
    

}

/* Contact Form */
#formElements{
    display: grid;
    row-gap: .5em;


}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;

}

fieldset {
    border: 2px solid;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}

legend{
    background-color: #78aa87;
    color: white;
    padding: .5em;

}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
    background-color: #f8f9f8;
    border: 1em;

}

#contact ul {
    list-style: none;
    padding: 0px;

}

#contact li {
    margin: 1rem;

}

#contact button {
    background-color: #78aa87;
    color: white;
    border: 1px solid #639271;
    max-width: 400px;
    width: 50%;
    justify-self: center;

}